<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/security/hiddenByAnonymous.css}">
<link rel="stylesheet" th:href="@{/css/security/hiddenByAuthed.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/organizerPage.css}">
<!--<link rel="stylesheet" href="../static/css/organizerPage.css" th:href="@{/css/organizerPage.css}">-->
<!--<link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">-->
<head>
  <meta charset="UTF-8">
  <title>Информация для организаторов турниров</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav-bg border border-dark">
  <a class="navbar-brand" th:href="@{/}">Главная</a>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="link-nav">
        <a class="link" th:href="@{/tournaments}">Турниры</a>
      </li>
      <li class="link-nav">
        <a class="link" th:href="@{/player}">Игрокам</a>
      </li>
      <li class="link-nav">
        <a class="link" th:href="@{/organizer}">Организаторам</a>
      </li>
      <li class="link-nav">
        <a class="link" th:href="@{/user}">Мой профиль</a>
      </li>
    </ul>

  </div>

  <div class="hiddenByUnAuth">
    <form class="form-inline my-2 my-lg-0" th:action="@{/auth/logout}" method="post">
      <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="Выйти"/>
    </form>
  </div>
  <div class="hiddenByAuthed">
    <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/registration}" method="get">
      <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Зарегистрироваться"/>
    </form>
  </div>
  <div class="hiddenByAuthed">
    <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/login}" method="get">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Войти"/>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div style="min-height: 100vh" class="row">
    <div class="col side">
    </div>
    <div class="col-6 mid fluid">
      <h4 align="center">Кто такой Организатор?</h4>

      <p>Организатор - это почетная роль системы Geek Playground.
        Являясь организатором появляется возможность создавать собственные турниры, такая роль приемлема для преподавателей,
      кто учит студентов программированию. <br><br>

        Организатор может создавать приватные турниры с паролем, чтобы органичить набор игроков.
        Также он имеет право участвовать в других турнирах и в своих. <br>
        После того, как в турнире наберется более одного принятого решения - появится кнопка для запуска турнира.
        По мере отправления решений игроками будет наполняться таблица иллюстрирующая имя игрока, язык и код программы.
        </p>
      <p>
        Когда турнир начнется откроется таблица игроков. Она будет постепенно обновляться по завершению игр между участниками.
        После того как турнир завершиться появится надпись, о том, что турнир завершен. И можно уже анализировать результаты игроков.
        Также по нажатию на строку таблицы игроков можно посмотреть результаты отдельного игрока в виде таблицы, кого он победил, а кому проиграл.
        В этой таблице тоже можно нажать на строку и перейти в подробный отчет по игре.


        <br><br> </p>

      <h4 align="center">Как создавать турниры?</h4>

      <p>Чтобы создавать турниры - нужно получить роль Организатора.
        После получения роли на странице <a th:href="@{/tournaments}">"Турниры"</a>
        появится кнопка "Создать турнир". Будет предложено ввести название турнира, пароль для создания приватного турнира,
        его можно оставить пустым и тогда турнир будет публичным, и выбрать игру для турнира.

        <br><br>
      </p>

      <h4 align="center">Как стать Организатором?</h4>

      <p>Чтобы стать Организатором, нужно отправить заявку, которую одобряет или откланяет администратор.
         После одобрения заявки у вас появится кнопка "Создать турнир".
      </p>
      <div class=" row justify-content-center">
        <form class="form-inline my-2 my-lg-0" th:action="@{/organizer/registration}" method="get">
          <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Стать организатором"/>
        </form>
      </div>
    </div>
    <div class="col side">
    </div>
  </div>
</div>
</body>
</html>