<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/hiddenByAnonymous.css}">
<link rel="stylesheet" th:href="@{/css/hiddenByAuthed.css}">
<head>
  <meta charset="UTF-8">
  <title>Информация для юзеров</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Главная</a>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/tournament}">Турниры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/player}">Игрокам</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/organizer}">Организаторам</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user}">Мой профиль</a>
      </li>
    </ul>

  </div>
  <div class="hiddenByUnAuth">
    <form class="form-inline my-2 my-lg-0" th:action="@{/auth/logout}" method="post">
      <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="Выйти"/>
    </form>
  </div>
  <div class="hiddenByAuthed">
    <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/registration}" method="get">
      <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Зарегистрироваться"/>
    </form>
  </div>
  <div class="hiddenByAuthed">
    <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/login}" method="get">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Войти"/>
    </form>
  </div>
</nav>
тут будет информация и правила как участвовать в турнирах
</body>
</html>