<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/security/hiddenByAnonymous.css}">
<link rel="stylesheet" th:href="@{/css/security/hiddenByAuthed.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/tournament.css}">
<link rel="stylesheet" href="../../static/css/tournament.css" th:href="@{/css/tournament.css}">
<link rel="stylesheet" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}">
<head>
    <meta charset="UTF-8">
    <title>Результаты Игрока</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav-bg border border-dark">
    <a class="navbar-brand" th:href="@{/}">Главная</a>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="link-nav">
                <a class="link" th:href="@{/tournaments}">Турниры</a>
            </li>
            <li class="link-nav">
                <a class="link" th:href="@{/player}">Игрокам</a>
            </li>
            <li class="link-nav">
                <a class="link" th:href="@{/organizer}">Организаторам</a>
            </li>
            <li class="link-nav">
                <a class="link" th:href="@{/user}">Мой профиль</a>
            </li>
        </ul>

    </div>

    <div class="hiddenByUnAuth">
        <form class="form-inline my-2 my-lg-0" th:action="@{/auth/logout}" method="post">
            <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="Выйти"/>
        </form>
    </div>
    <div class="hiddenByAuthed">
        <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/registration}" method="get">
            <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Зарегистрироваться"/>
        </form>
    </div>
    <div class="hiddenByAuthed">
        <form style="margin: 3px" class="form-inline my-2 my-lg-0" th:action="@{/auth/login}" method="get">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Войти"/>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div style="min-height: 100vh" class="row">
        <div class="col side">
        </div>
        <div class="col-8 mid fluid">
            <h2 align="center" th:text="${roundName}"></h2>
            <h4 align="center" th:text="${winner}"></h4>
            <h6 align="center" th:if="${failure} != null" th:text="${failure}"></h6>
            <div class="row">
                <div class="col ">
                    <h5 align="center" th:text="${round.hostName}"></h5><br>
                    <p align="center" th:each="goal: ${hostGoal}" th:text="${goal}"></p>
                </div>
                <div class="col">
                    <h5 align="center" th:text="${round.guestName}"></h5><br>
                    <p align="center" th:each="goal: ${guestGoal}" th:text="${goal}"></p>
                </div>
            </div>
            <div class="col idents users">
                <h5 align="center">Ход игры</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Игрок</th>
                        <th scope="col">Ход</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="step, iStat : ${steps}">
                        <td th:text="${iStat.index+1}"/>
                        <td th:text="${step.playerName}"/>
                        <td th:text="${step.action}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col side">

        </div>
    </div>

</div>
<footer style="height: 50px; width: 100%" class="nav-bg">
    <div style="width: 100%" class="footer row">
        <div align="center" class="col 4">Система проведения игровых компьютерных программ</div>
        <div align="center" class="col 6"><font size="3">Автор: <a href="https://t.me/allright079" >Митин Дмитрий</a> &copy; 2022</font></div>
        <div align="center" class="col 4">Связь: dmitrydamb@yandex.ru</div>
    </div>
</footer>
</body>
</html>